@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Alfa+Slab+One&family=Bangers&family=Bungee+Shade&family=Cinzel:wght@400;500&family=Koulen&family=PT+Sans:wght@700&family=Righteous&display=swap');
.App{
  margin: 0%;
  padding: 0%;
  overflow: hidden;
}